<ul class="nav flex-column" style="min-width: 290px">
  <li class="nav-item">
    <a class="nav-link" routerLink="task1" routerLinkActive="activeMenuLink">
      Zadania wymagające pomysłowości</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="task2" routerLinkActive="activeMenuLink">
      Łamigłówki liczbowe</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="task3" routerLinkActive="activeMenuLink">
      Matematyka prawie bez wyliczeń</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="task4" routerLinkActive="activeMenuLink">
      Geometria przy pomocy zapałek</a>
  </li>
  <li class="nav-item border border-top-0 border-left-0 border-right-0">
    <a class="nav-link" routerLink="task5" routerLinkActive="activeMenuLink">
      Zadania interaktywne</a>
  </li>
  <li class="nav-item mt-2">
    <a class="nav-link" routerLink="aphorism" routerLinkActive="activeMenuLink">
      Aforyzmy</a>
  </li>
  <!-- <li class="nav-item">
    <a class="nav-link" href="mailto:magdasp@poczta.onet.pl">
      Kontakt</a>
  </li> -->
  